nav li {
    margin-bottom: 0px;
}

/* Drop-down Menu Items */
.dropdown-menu {
    min-width: 200px;
}

    /* Drop-down coliumns */

    .dropdown-menu.columns-2 {
        min-width: 400px;
    }

    .dropdown-menu.columns-3 {
        min-width: 600px;
    }

.multi-column-dropdown {
    list-style: none;
}

.dropdown-item-group-header {
    font-weight: bold;
}

.navbar-dark {
    background-color: #454545;
    color: white;
}

    .navbar-dark .dropdown-menu.show, .navbar-dark .dropdown-menu {
        background-color: #454545;
        color: white;
    }

    .navbar-dark .dropdown-item {
        background-color: #454545;
        color: white;
    }

.navbar-light {
    background-color: #C9C9C9;
}

    .navbar-light .dropdown-menu.show {
        background-color: #C9C9C9;
    }


@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}

/* re-enable bootstrap sub-menu */
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }


/*** FOOTER ***/
footer {
    margin-top: 50px;
    font-size: smaller;
}

    footer a {
        text-decoration: none;
        color: inherit;
    }

    footer h5 {
        /* padding-left: 10px; */
    }

    footer .border-right {
        border-right: 1px solid white;
    }

    footer .subMenu span {
        display: inline-block;
        margin-bottom: 0.65em;
    }

    footer .subMenu a {
        color: inherit;
    }

    footer .subMenu ul {
        list-style: none;
        padding-left: 1em;
    }

    footer .copyright {
        background-color: rgba(0, 0, 0, 0.2);
    }

    footer .container {
        /* margin-left: 0 !important; */
    }

.footer-links {
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 135px;
}

    .footer-links li {
        /* list-style: disc; */
    }
